
<div class="homepage-content">
    <h1 class="home mt-5">Welcome to SwicthEasy !!</h1>
    <h3>India's no 1 hiring platform where talent meets opportunity</h3>
    <a href="/jobs" class="btn btn-dark mx-2 my-5">I'm A Job Seeker</a>
    <a href="/register" class="btn btn-dark my-5">I'm A Recruiter</a>
</div>
<div class="homeimage">
<img src="https://img.freepik.com/premium-photo/business-man-working-laptop-with-job-search-screen_218381-8578.jpg"></img>
</div>


