
<form action="/addHabit" method="post">
  <div class="form-group">
    <input type="text" class="form-control" id="habit"  placeholder="Enter a habit">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>